﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="packageinstaller.ascx.cs" Inherits="USNStarterKit.usn_package.packageinstaller" %>
<div class="umb-packages-view-wrapper">
    <div class="flex items-center justify-center">
        <div class="umb-info-local-items">
            <div class="umb-package-icon">
                <img alt="uSkinned" src="https://uskinned.net/images/package-icon.png">
            </div>
            <div class="umb-package-info">
                <h4 class="umb-info-local-item"><strong>uSkinned Minimal Corp Starter Kit Successfully Installed</strong></h4>
                <div class="umb-info-local-item">
                    <p><strong>The installer has setup demo pages to get you started.</strong></p>
                    <p><strong>This will help you to understand how the different layouts and components available with your theme can be created via the Umbraco CMS.</strong></p>
                    <p><strong>It is important that you refer to the installation readme file provided with your theme for additional setup tasks.</strong></p>
                    <p><strong>Go to the "Content" section to manage the installed website.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
