﻿@inherits UmbracoViewPage<IUsn_Cmp_Sp_HeaderSection>

@{
    if (!Model.DisplayHeaderImageSection)
    {
        <h1 class="heading main" itemprop="headline"><span class="line">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</span></h1>
    }  
}
