﻿@inherits UmbracoViewPage<Usn_Sc_PriceListSection_AN>

@using USNStarterKit.USNHelpers;

@{
    string anchorId = string.Empty;

    @* Add div for column width on Advanced Pages *@
    if (!Model.Parent.Parent.IsDocumentType(UsnstandardPage.ModelTypeAlias) && !Model.Parent.Parent.IsDocumentType(UsnstandardPageBlogPost.ModelTypeAlias))
    {
        if (Model.Width == "Centered")
        {
            @:<div id="mid-col" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        }
        else
        {
            @:<div id="wide-col" class="col-xs-12">
        }
    }
    else
    {
        anchorId = "id=\"pos_" + Model.Id + "\" ";
    }

    <!-- PAGE COMPONENT CODE -->
    <div class="spc pricing-menu" @Html.Raw(anchorId)>
        <div class="inner has-borders c4-borders">
            @if (Model.TableHeading.HasValue())
            {
            <!-- HEAD -->
                <div class="head">
                    <p class="heading small">@Model.TableHeading</p>
                </div>
            <!--// HEAD -->
            }
            @foreach (Usn_Sc_PriceListItem item in Model.Children<Usn_Sc_PriceListItem>())
            {
            <!-- ITEM -->
                <div class="item">

                    <div class="row">
                        <!-- INFO -->
                        <div class="info col-md-8 col-xs-12">
                            <p class="heading">@item.Name</p>
                            @if (item.ItemDescription.HasValue())
                            {
                                <div class="text">
                                    @Html.Raw(item.ItemDescription)
                                </div>
                            }
                        </div>
                        <!--// INFO -->
                        <!-- PRICE -->
                        <div class="price col-md-4 col-xs-12 c3-text">
                            @Html.Raw(item.ItemPrice)
                        </div>
                        <!--// PRICE -->
                    </div>

                </div>
            <!--// ITEM -->
            }
        </div>
    </div>
    <!--// PAGE COMPONENT CODE -->

    @* Close div for column width on Advanced Pages *@
    if (!Model.Parent.Parent.IsDocumentType(UsnstandardPage.ModelTypeAlias) && !Model.Parent.Parent.IsDocumentType(UsnstandardPageBlogPost.ModelTypeAlias))
    {
        @:</div>
    }
}