﻿@inherits UmbracoViewPage<Usn_Swp_GeneralPod>

@using USNStarterKit.USNHelpers;
@using USNStarterKit.USNModels;

@{
    USNLink podLink = USNUrlHelper.GetLinkFromRelatedLinks(Model.PodLink);
    
    IHtmlString podText = Model.PodText;

    <div class="item general-pod">
        <div class="inner has-borders c4-borders">
        @if (Model.PodHeading.HasValue())
        {
            <p class="heading">
                @if (podLink.LinkURL.HasValue())
                {
                    @:<a class="c3-text" href="@podLink.LinkURL" @Html.Raw(podLink.LinkTitle) @Html.Raw(podLink.LinkTarget)>
                }
                @Html.Raw(Model.PodHeading)
                @if (podLink.LinkURL.HasValue())
                {
                    @:</a>
                }
            </p>
        }

        @if (podText.HasValue() || podLink.LinkURL.HasValue())
        {
            @:<div class="info">
        }

        @if (podText.HasValue())
        {
            <div class="text">@Html.Raw(podText)</div>
        }

        @if (podLink.LinkURL.HasValue())
        {
            <p class="link"><a href="@podLink.LinkURL" @Html.Raw(podLink.LinkTitle) @Html.Raw(podLink.LinkTarget) class="btn btn-sm c1-bg c5-text">@podLink.LinkCaption@Html.Raw(podLink.LinkIcon)</a></p>
        }

        @if (podText.HasValue() || podLink.LinkURL.HasValue())
        {
            @:</div>
        }
        </div>
    </div>
    
}