﻿@inherits UmbracoViewPage<USNStarterKit.USNModels.USNBaseViewModel>

@using Umbraco.Web.Models;
@using USNStarterKit.USNModels;
@using USNStarterKit.USNHelpers;
	
@{
    Usnnavigation navigation = (Usnnavigation)Model.Navigation;
    
    RelatedLinks footerQuickLinks = navigation.FooterQuickLinks;

    if (navigation.FooterQuickLinksHeading.HasValue() || footerQuickLinks != null)
    {
        <nav class="quick-links">
	    @if (navigation.FooterQuickLinksHeading.HasValue())
        {
	        <p class="heading">@navigation.FooterQuickLinksHeading</p>
        }
		@*@Html.Partial("USNForms/USN_SearchForm", Model)*@
		@if (footerQuickLinks != null)
        {
            <ul class="row">
                @foreach (RelatedLink link in footerQuickLinks)
                {
                    USNLink quickLink = USNUrlHelper.GetLinkFromRelatedLink(link);

                    if ((quickLink.InternalNode != null && quickLink.InternalNode.IsVisible()) || (quickLink.LinkURL != String.Empty))
                    { 
                        <li class="col-xs-6">
                            <a href="@quickLink.LinkURL" @Html.Raw(quickLink.LinkTarget) @Html.Raw(quickLink.LinkTitle)>@quickLink.LinkCaption@Html.Raw(quickLink.LinkIcon)</a>
                        </li>
                    }
                }
            </ul>
        }
		</nav>
    }
}