﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Net.Mail;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = null;
}

@{

    var to = "info@legalalliance.co.za";
    var name = Request.Form["FirstName"] ?? "";
    var lastname = Request.Form["LastName"] ?? "";
    var email = Request.Form["Email"] ?? "";
    var tel = Request.Form["CellNumber"] ?? "";
    var msg = Request.Form["Message"] ?? "";

    var body = "<b>You have received a new message from the Legal Alliance website</b><br><br>" + "Client Name:" + " " + name + " " + lastname + "<br>" + "Email Address:" + " " + email + "<br>" + "Phone number:" + " " + tel + "<br>" + "<br>" + "Message:" + "<br>" + msg;

    try
    {
        if (!string.IsNullOrEmpty(to) && !string.IsNullOrEmpty(name) && !string.IsNullOrEmpty(lastname) && !string.IsNullOrEmpty(email) && !string.IsNullOrEmpty(tel) && !string.IsNullOrEmpty(msg))
        {
            SmtpClient client = new SmtpClient();
            client.Port = 587;
            client.Host = "smtp.gmail.com";
            client.EnableSsl = true;
            client.Timeout = 10000;
            client.DeliveryMethod = SmtpDeliveryMethod.Network;
            client.UseDefaultCredentials = false;
            client.Credentials = new System.Net.NetworkCredential("no-reply@mashlab.co.za", "Mashlab01!");
            MailMessage mm = new MailMessage("no-reply@mashlab.co.za", to, "You have a new message", body)
            {
                From = new MailAddress("no-reply@mashlab.co.za", "Legal Alliance")
            };
            mm.IsBodyHtml = true;
            client.Send(mm);
            @:{"isSuccess": true, "payload": "Message has been successfully sent."}

            SqlConnection conn = new SqlConnection("Data Source = mashlabsql.dedicated.co.za;Initial Catalog=uLegalAlliance; User ID=sa; Password=Kv8bN72QZs53g6n");
            conn.Open();

            SqlCommand cmd = new SqlCommand();
            cmd.CommandType = CommandType.Text;

            cmd.CommandText = "INSERT contactForm (firstName, lastName, tel, email, msg) VALUES (@fname, @lname, @tel, @email, @msg)";
            cmd.Parameters.AddWithValue("@email", email);
            cmd.Parameters.AddWithValue("@fname", name);
            cmd.Parameters.AddWithValue("@lname", lastname);
            cmd.Parameters.AddWithValue("@tel", tel);
            cmd.Parameters.AddWithValue("@msg", msg);
            cmd.Connection = conn;

            cmd.ExecuteNonQuery();
            conn.Close();
        }
    }
    catch (Exception e)
    {
        @:{"isSuccess": false, "payload": e.Message}
    }
}