﻿@inherits UmbracoViewPage<USNStarterKit.USNModels.USNBaseViewModel>

@{
    UsnglobalSettings globalSettings = (UsnglobalSettings)Model.GlobalSettings;

    if (globalSettings.ExamineSearchProviderName != null)
    {
        IPublishedContent searchResultsPage = globalSettings.SearchResultsPage;

        if (searchResultsPage != null)
        { 
	    <div class="site-search">
			<fieldset>
	            <form role="search" action="@searchResultsPage.Url" method="get" name="searchForm">
	                <div class="form-group">
	                    <label class="control-label hidden" for="search_field">@umbraco.library.GetDictionaryItem("USN Search Form Placeholder")</label>
	                    <input type="text" class="form-control" id="search_field" name="search_field" placeholder='@umbraco.library.GetDictionaryItem("USN Search Form Placeholder")' value="@Request.QueryString["search_field"]">
	                </div>
	                <button type="submit" class="no-bg c1-text"><i class="ion-ios-search-strong"></i></button>
	            </form>
            </fieldset>
			<a href="javascript:void(0);" class="btn c5-bg c3-text expand-search"><em>Expand Search</em><i class="ion-ios-search-strong"></i></a>
	    </div>
        }
    }
}
