﻿@inherits UmbracoViewPage<USNStarterKit.USNModels.USNContactFormViewModel>
@using System;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using umbraco;

<div class="contact" id="generalForm">
    <div class="inner c5-bg has-borders c6-borders">
        <div class="modal fade-in" id="formSubmissionModel" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Success!</h5>
                    </div>
                    <div class="modal-body">
                        Your email has been sent successfully. We will contact you shortly.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <form name="general-form" id="general-form" action="#" method="post" accept-charset="utf-8">
            <!-- ROW -->
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    <label for="FirstName" class="control-label">
                        @umbraco.library.GetDictionaryItem("USN Form First Name Label") <em class="req">*</em>
                    </label>
                    <input required class="form-control" data-val="true" data-val-required="The FirstName field is required." id="inputname" name="FirstName" type="text" value="">
                    <span class="valName red"></span>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label for="LastName" class="control-label">
                        @umbraco.library.GetDictionaryItem("USN Form Last Name Label") <em class="req">*</em>
                    </label>
                    <input required class="form-control" data-val="true" data-val-required="The LastName field is required." id="inputlname" name="LastName" type="text" value="">
                    @*@Html.ValidationMessageFor(x => Model.LastName, umbraco.library.GetDictionaryItem("USN Form Last Name Validation"))*@
                </div>
            </div>
            <!--// ROW -->
            <!-- ROW -->
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    <label for="Email" class="control-label">@umbraco.library.GetDictionaryItem("USN Form Email Address Label")<em class="req">*</em></label>
                    <input class="form-control" id="inputemail" required name="Email" type="email" value="">

                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label for="CellNumber" class="control-label">Tel Number</label>
                    <input required class="form-control" id="CellNumber" name="CellNumber" type="tel" value="">

                </div>
            </div>

            <div class="form-group">
                <label for="Message" class="control-label">
                    @umbraco.library.GetDictionaryItem("USN Form Message Label")
                </label>
                <textarea class="form-control" cols="20" id="message" name="Message" rows="5"></textarea>
            </div>

            <fieldset class="buttons">
                <button id="submit-form" class="btn btn-sm c1-bg c5-text send" type="submit" name="submit">
                    <span>Submit</span>
                </button>
            </fieldset>
            @*<div class="ajax-loading" style="display:none">
                    <div class="loading">
                        <span class="message">@umbraco.library.GetDictionaryItem("USN Contact Form Sending Message")</span>
                    </div>
                </div>*@
        </form>
    </div>
</div>
<script>
    $('#general-form').submit(function () {
        console.log("test");
        if ($(this).valid()) {
            document.getElementById("submit-form").disabled = true;
            $.ajax({
                type: 'POST',
                url: '/computational-pages/mailsender',
                data: $('#general-form').serialize(),
                dataType: 'json',
                complete: function () {
                    document.getElementById("general-form").reset();
                    $('#formSubmissionModel').modal('show');
                    document.getElementById("submit-form").disabled = false;
                }
            });
        }
        return false;
        document.getElementById("submit-form").disabled = false;

    });
</script>