
/* 	--------------------------------------------------
    uSkinned.net

	PALETTE
    -------------------------------------------------- */


/* 	--------------------------------------------------
	TABLE OF CONTENTS
    -------------------------------------------------- 

	1.0 BACKGROUNDS
	2.0 TEXT
	3.0 BORDERS
	4.0 BUTTONS
	
	
	COLOURS 
	
	c1	#c9ad7c		201,173,124
	c2	#7e7e7e		126,126,126
	c3	#303434		48,52,52
	c4	#f2f2f2		242,242,242
	c5 	#ffffff		255,255,255
	c6  #d5d5d5		213,213,213
	
	
*/



/*	--------------------------------------------------
	1.0 BACKGROUNDS
	-------------------------------------------------- */
	
	.c1-bg,
	html.no-touch .apc.pod-windows .item a.info.c1-bg:hover::before,
	nav.social ul li a,
	html.no-touch footer nav.social ul li a:hover {
		background-color:#c9ad7c; background-color:rgba(201,173,124,1);
		}
		.c1-bg.bg-perc_90 {
			background-color:rgba(201,173,124,0.9);
			}
		.c1-bg.bg-perc_80 {
			background-color:rgba(201,173,124,0.8);
			}
		.c1-bg.bg-perc_70,
		html.no-touch nav.social ul li a:hover {
			background-color:rgba(201,173,124,0.7);
			}
		.c1-bg.bg-perc_60,
		.apc.banner .item.overlay.c1-bg::before {
			background-color:rgba(201,173,124,0.6);
			}
		.c1-bg.bg-perc_50 {
			background-color:rgba(201,173,124,0.5);
			}
		.c1-bg.bg-perc_40 {
			background-color:rgba(201,173,124,0.4);
			}
		.c1-bg.bg-perc_30 {
			background-color:rgba(201,173,124,0.3);
			}
		.c1-bg.bg-perc_20 {
			background-color:rgba(201,173,124,0.2);
			}
		.c1-bg.bg-perc_10 {
			background-color:rgba(201,173,124,0.1);
			}
			
	html.no-touch .apc.pod-windows .item .info.c1-bg::before {
		background: -moz-linear-gradient(-45deg,  rgba(201,173,124,1) 0%, rgba(201,173,124,0) 100%);
		background: -webkit-linear-gradient(-45deg,  rgba(201,173,124,1) 0%,rgba(201,173,124,0) 100%);
		background: linear-gradient(135deg,  rgba(201,173,124,1) 0%,rgba(201,173,124,0) 100%);
		}
	.apc.banner .item.c1-bg.overlay::after,
	.apc.pod-windows .item .info.c1-bg::after {
		background: -moz-linear-gradient(45deg, rgba(201,173,124,1) 0%, rgba(201,173,124,1) 50%, rgba(201,173,124,0) 50.001%);
		background: -webkit-linear-gradient(45deg, rgba(201,173,124,1) 0%, rgba(201,173,124,1) 50%, rgba(201,173,124,0) 50.001%);
		background: linear-gradient(45deg, rgba(201,173,124,1) 0%, rgba(201,173,124,1) 50%, rgba(201,173,124,0) 50.001%);
		}
	
	.c2-bg,
	html.no-touch .apc.pod-windows .item a.info.c2-bg:hover::before {
		background-color:#7e7e7e; background-color:rgba(126,126,126,1);
		}
		.c2-bg.bg-perc_90 {
			background-color:rgba(126,126,126,0.9);
			}
		.c2-bg.bg-perc_80 {
			background-color:rgba(126,126,126,0.8);
			}
		.c2-bg.bg-perc_70 {
			background-color:rgba(126,126,126,0.7);
			}
		.c2-bg.bg-perc_60,
		.apc.banner .item.overlay.c2-bg::before {
			background-color:rgba(126,126,126,0.6);
			}
		.c2-bg.bg-perc_50 {
			background-color:rgba(126,126,126,0.5);
			}
		.c2-bg.bg-perc_40 {
			background-color:rgba(126,126,126,0.4);
			}
		.c2-bg.bg-perc_30 {
			background-color:rgba(126,126,126,0.3);
			}
		.c2-bg.bg-perc_20 {
			background-color:rgba(126,126,126,0.2);
			}
		.c2-bg.bg-perc_10 {
			background-color:rgba(126,126,126,0.1);
			}
			
	html.no-touch .apc.pod-windows .item .info.c2-bg::before {
		background: -moz-linear-gradient(-45deg,  rgba(126,126,126,1) 0%, rgba(126,126,126,0) 100%);
		background: -webkit-linear-gradient(-45deg,  rgba(126,126,126,1) 0%,rgba(126,126,126,0) 100%);
		background: linear-gradient(135deg,  rgba(126,126,126,1) 0%,rgba(126,126,126,0) 100%);
		}
	.apc.banner .item.c2-bg.overlay::after,
	.apc.pod-windows .item .info.c2-bg::after {
		background: -moz-linear-gradient(45deg, rgba(126,126,126,1) 0%, rgba(126,126,126,1) 50%, rgba(126,126,126,0) 50.001%);
		background: -webkit-linear-gradient(45deg, rgba(126,126,126,1) 0%, rgba(126,126,126,1) 50%, rgba(126,126,126,0) 50.001%);
		background: linear-gradient(45deg, rgba(126,126,126,1) 0%, rgba(126,126,126,1) 50%, rgba(126,126,126,0) 50.001%);
		}
		
	.c3-bg,
	html.no-touch .apc.pod-windows .item a.info.c3-bg:hover::before,
	.modal-backdrop, .modal-backdrop.in,
	#top-link-block a,
	footer {
		background-color:#303434; background-color:rgba(48,52,52,1);
		}
		.c3-bg.bg-perc_90 {
			background-color:rgba(48,52,52,0.9);
	  		}
		.c3-bg.bg-perc_80 {
			background-color:rgba(48,52,52,0.8);
	  		}
		.c3-bg.bg-perc_70 {
			background-color:rgba(48,52,52,0.7);
	  		}
		.c3-bg.bg-perc_60,
		.apc.banner .item.overlay.c3-bg::before {
			background-color:rgba(48,52,52,0.6);
	  		}
		.c3-bg.bg-perc_50 {
			background-color:rgba(48,52,52,0.5);
	  		}
		.c3-bg.bg-perc_40 {
			background-color:rgba(48,52,52,0.4);
	  		}
		.c3-bg.bg-perc_30 {
			background-color:rgba(48,52,52,0.3);
	  		}
		.c3-bg.bg-perc_20 {
			background-color:rgba(48,52,52,0.2);
	  		}
		.c3-bg.bg-perc_10 {
			background-color:rgba(48,52,52,0.1);
	  		}
			
	html.no-touch .apc.pod-windows .item .info.c3-bg::before {
		background: -moz-linear-gradient(-45deg,  rgba(48,52,52,1) 0%, rgba(48,52,52,0) 100%);
		background: -webkit-linear-gradient(-45deg,  rgba(48,52,52,1) 0%,rgba(48,52,52,0) 100%);
		background: linear-gradient(135deg,  rgba(48,52,52,1) 0%,rgba(48,52,52,0) 100%);
		}
	.apc.banner .item.c3-bg.overlay::after,
	.apc.pod-windows .item .info.c3-bg::after {
		background: -moz-linear-gradient(45deg, rgba(48,52,52,1) 0%, rgba(48,52,52,1) 50%, rgba(48,52,52,0) 50.001%);
		background: -webkit-linear-gradient(45deg, rgba(48,52,52,1) 0%, rgba(48,52,52,1) 50%, rgba(48,52,52,0) 50.001%);
		background: linear-gradient(45deg, rgba(48,52,52,1) 0%, rgba(48,52,52,1) 50%, rgba(48,52,52,0) 50.001%);
		}
		
	.c4-bg,
	html.no-touch .apc.pod-windows .item a.info.c4-bg:hover::before, 
	body {
		background-color:#f2f2f2; background-color:rgba(242,242,242,1);
		}
		.c4-bg.bg-perc_90 {
			background-color:rgba(242,242,242,0.9);
			}
		.c4-bg.bg-perc_80 {
			background-color:rgba(242,242,242,0.8);
			}
		.c4-bg.bg-perc_70 {
			background-color:rgba(242,242,242,0.7);
			}
		.c4-bg.bg-perc_60,
		.apc.banner .item.overlay.c4-bg::before {
			background-color:rgba(242,242,242,0.6);
			}
		.c4-bg.bg-perc_50 {
			background-color:rgba(242,242,242,0.5);
			}
		.c4-bg.bg-perc_40 {
			background-color:rgba(242,242,242,0.4);
			}
		.c4-bg.bg-perc_30 {
			background-color:rgba(242,242,242,0.3);
			}
		.c4-bg.bg-perc_20 {
			background-color:rgba(242,242,242,0.2);
			}
		.c4-bg.bg-perc_10 {
			background-color:rgba(242,242,242,0.1);
			}
			
	html.no-touch .apc.pod-windows .item .info.c4-bg::before {
		background: -moz-linear-gradient(-45deg,  rgba(242,242,242,1) 0%, rgba(242,242,242,0) 100%);
		background: -webkit-linear-gradient(-45deg,  rgba(242,242,242,1) 0%,rgba(242,242,242,0) 100%);
		background: linear-gradient(135deg,  rgba(242,242,242,1) 0%,rgba(242,242,242,0) 100%);
		}
	.apc.banner .item.c4-bg.overlay::after,
	.apc.pod-windows .item .info.c4-bg::after {
		background: -moz-linear-gradient(45deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(242,242,242,0) 50.001%);
		background: -webkit-linear-gradient(45deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%,rgba(242,242,242,0) 50.001%);
		background: linear-gradient(45deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%,rgba(242,242,242,0) 50.001%);
		}
		
	.c5-bg,
	html.no-touch .apc.pod-windows .item a.info.c5-bg:hover::before, 
	#site, .cookie-notice, .spc.pricing-menu {
		background-color:#ffffff; background-color:rgba(255,255,255,1);
		}	
		.c5-bg.bg-perc_90 {
			background-color:rgba(255,255,255,0.9);
			}
		.c5-bg.bg-perc_80 {
			background-color:rgba(255,255,255,0.8);
			}
		.c5-bg.bg-perc_70 {
			background-color:rgba(255,255,255,0.7);
			}
		.c5-bg.bg-perc_60,
		.apc.banner .item.overlay.c5-bg::before {
			background-color:rgba(255,255,255,0.6);
			}
		.c5-bg.bg-perc_50 {
			background-color:rgba(255,255,255,0.5);
			}
		.c5-bg.bg-perc_40 {
			background-color:rgba(255,255,255,0.4);
			}
		.c5-bg.bg-perc_30 {
			background-color:rgba(255,255,255,0.3);
			}
		.c5-bg.bg-perc_20,
		footer nav.social ul li a {
			background-color:rgba(255,255,255,0.2);
			}
		.c5-bg.bg-perc_10 {
			background-color:rgba(255,255,255,0.1);
			}
			
	html.no-touch .apc.pod-windows .item .info.c5-bg::before {
		background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		}
	.apc.banner .item.c5-bg.overlay::after,
	.apc.pod-windows .item .info.c5-bg::after {
		background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50.001%);
		background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 50.001%);
		background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 50.001%);
		}
			
	.c6-bg,
	html.no-touch .apc.pod-windows .item a.info.c6-bg:hover::before {
		background-color:#d5d5d5; background-color:rgba(213,213,213,1);
		}
		.c6-bg.bg-perc_90 {
			background-color:rgba(213,213,213,0.9);
			}
		.c6-bg.bg-perc_80 {
			background-color:rgba(213,213,213,0.8);
			}
		.c6-bg.bg-perc_70 {
			background-color:rgba(213,213,213,0.7);
			}
		.c6-bg.bg-perc_60,
		.apc.banner .item.overlay.c6-bg::before {
			background-color:rgba(213,213,213,0.6);
			}
		.c6-bg.bg-perc_50 {
			background-color:rgba(213,213,213,0.5);
			}
		.c6-bg.bg-perc_40 {
			background-color:rgba(213,213,213,0.4);
			}
		.c6-bg.bg-perc_30 {
			background-color:rgba(213,213,213,0.3);
			}
		.c6-bg.bg-perc_20 {
			background-color:rgba(213,213,213,0.2);
			}
		.c6-bg.bg-perc_10 {
			background-color:rgba(213,213,213,0.1);
			}
			
	html.no-touch .apc.pod-windows .item .info.c6-bg::before {
		background: -moz-linear-gradient(-45deg,  rgba(213,213,213,1) 0%, rgba(213,213,213,0) 100%);
		background: -webkit-linear-gradient(-45deg,  rgba(213,213,213,1) 0%,rgba(213,213,213,0) 100%);
		background: linear-gradient(135deg,  rgba(213,213,213,1) 0%,rgba(213,213,213,0) 100%);
		}
	.apc.banner .item.c6-bg.overlay::after,
	.apc.pod-windows .item .info.c6-bg::after {
		background: -moz-linear-gradient(45deg, rgba(213,213,213,1) 0%, rgba(213,213,213,1) 50%, rgba(213,213,213,0) 50.001%);
		background: -webkit-linear-gradient(45deg, rgba(213,213,213,1) 0%, rgba(213,213,213,1) 50%, rgba(213,213,213,0) 50.001%);
		background: linear-gradient(45deg, rgba(213,213,213,1) 0%, rgba(213,213,213,1) 50%, rgba(213,213,213,0) 50.001%);
		}
	



/*	--------------------------------------------------
	2.0 TEXT
	-------------------------------------------------- */

	body { 
		color:#6e6e6e;
		}

	a, html.no-touch a:hover, a:focus, a:active {
		color:#c9ad7c; color:rgba(201,173,124,1);
		}
	.heading, h1, h2, h3, h4, h5, h6, .tables .head {
		color:#303434; color:rgba(48,52,52,1);
		}	
	.c1-bg .text .heading, .c1-bg .text h1, .c1-bg .text h2, .c1-bg .text h3, .c1-bg .text h4, .c1-bg .text h5, .c1-bg .text h6,
	.c3-bg .text .heading, .c3-bg .text h1, .c3-bg .text h2, .c3-bg .text h3, .c3-bg .text h4, .c3-bg .text h5, .c3-bg .text h6 {
		color:inherit;
		}
	
	.c1-text,
	html.no-touch .c1-text:hover, .c1-text:focus, .c1-text:active,
	#top-link-block a,
	blockquote::before, blockquote::after {
		color:#c9ad7c; color:rgba(201,173,124,1);
		}
		.c1-text.text-perc_90 {
			color:rgba(201,173,124,0.9);
			}
		.c1-text.text-perc_80, 
		html.no-touch footer a:hover {
			color:rgba(201,173,124,0.8);
			}
		.c1-text.text-perc_70 {
			color:rgba(201,173,124,0.7);
			}
		.c1-text.text-perc_60 {
			color:rgba(201,173,124,0.6);
			}
		.c1-text.text-perc_50 {
			color:rgba(201,173,124,0.5);
			}
		.c1-text.text-perc_40 {
			color:rgba(201,173,124,0.4);
			}
		.c1-text.text-perc_30 {
			color:rgba(201,173,124,0.3);
			}
		.c1-text.text-perc_20 {
			color:rgba(201,173,124,0.2);
			}
		.c1-text.text-perc_10 {
			color:rgba(201,173,124,0.1);
			}
			
	.c2-text,
	html.no-touch .c2-text:hover, .c2-text:focus, .c2-text:active {
		color:#7e7e7e; color:rgba(126,126,126,1);
		}
		.c2-text.text-perc_90 {
			color:rgba(126,126,126,0.9);
			}
		.c2-text.text-perc_80 {
			color:rgba(126,126,126,0.8);
			}
		.c2-text.text-perc_70 {
			color:rgba(126,126,126,0.7);
			}
		.c2-text.text-perc_60 {
			color:rgba(126,126,126,0.6);
			}
		.c2-text.text-perc_50 {
			color:rgba(126,126,126,0.5);
			}
		.c2-text.text-perc_40 {
			color:rgba(126,126,126,0.4);
			}
		.c2-text.text-perc_30 {
			color:rgba(126,126,126,0.3);
			}
		.c2-text.text-perc_20 {
			color:rgba(126,126,126,0.2);
			}
		.c2-text.text-perc_10 {
			color:rgba(126,126,126,0.1);
			}
			
	.c3-text,
	html.no-touch .c3-text:hover, .c3-text:focus, .c3-text:active,
	blockquote {
		color:#303434; color:rgba(48,52,52,1);
		}
		.c3-text.text-perc_90 {
			color:rgba(48,52,52,0.9);
			}
		.c3-text.text-perc_80 {
			color:rgba(48,52,52,0.8);
			}
		.c3-text.text-perc_70 {
			color:rgba(48,52,52,0.7);
			}
		.c3-text.text-perc_60 {
			color:rgba(48,52,52,0.6);
			}
		.c3-text.text-perc_50 {
			color:rgba(48,52,52,0.5);
			}
		.c3-text.text-perc_40 {
			color:rgba(48,52,52,0.4);
			}
		.c3-text.text-perc_30 {
			color:rgba(48,52,52,0.3);
			}
		.c3-text.text-perc_20 {
			color:rgba(48,52,52,0.2);
			}
		.c3-text.text-perc_10 {
			color:rgba(48,52,52,0.1);
			}
			
	.c4-text,
	html.no-touch .c4-text:hover, .c4-text:focus, .c4-text:active,
	footer {
		color:#f2f2f2; color:rgba(242,242,242,1);
		}
		.c4-text.text-perc_90 {
			color:rgba(242,242,242,0.9);
			}
		.c4-text.text-perc_80 {
			color:rgba(242,242,242,0.8);
			}
		.c4-text.text-perc_70 {
			color:rgba(242,242,242,0.7);
			}
		.c4-text.text-perc_60 {
			color:rgba(242,242,242,0.6);
			}
		.c4-text.text-perc_50 {
			color:rgba(242,242,242,0.5);
			}
		.c4-text.text-perc_40 {
			color:rgba(242,242,242,0.4);
			}
		.c4-text.text-perc_30 {
			color:rgba(242,242,242,0.3);
			}
		.c4-text.text-perc_20 {
			color:rgba(242,242,242,0.2);
			}
		.c4-text.text-perc_10 {
			color:rgba(242,242,242,0.1);
			}
			
	.c5-text,
	html.no-touch .c5-text:hover, .c5-text:focus, .c5-text:active,
	.c1-bg blockquote, .c2-bg blockquote, .c3-bg blockquote,
	.c1-bg blockquote::before, .c1-bg blockquote::after,
	footer .heading, footer a {
		color:#ffffff; color:rgba(255,255,255,1);
		}	 
		.c5-text.text-perc_90 {
			color:rgba(255,255,255,0.9);
			}
		.c5-text.text-perc_80 {
			color:rgba(255,255,255,0.8);
			}
		.c5-text.text-perc_70 {
			color:rgba(255,255,255,0.7);
			}
		.c5-text.text-perc_660 {
			color:rgba(255,255,255,0.6);
			}
		.c5-text.text-perc_50 {
			color:rgba(255,255,255,0.5);
			}
		.c5-text.text-perc_40 {
			color:rgba(255,255,255,0.4);
			}
		.c5-text.text-perc_30 {
			color:rgba(255,255,255,0.3);
			}
		.c5-text.text-perc_20 {
			color:rgba(255,255,255,0.2);
			}
		.c5-text.text-perc_10 {
			color:rgba(255,255,255,0.1);
			}
			
	.c6-text,
	html.no-touch .c6-text:hover, .c6-text:focus, .c6-text:active {
		color:#d5d5d5; color:rgba(213,213,213,1);
		}	
		.c6-text.text-perc_90 {
			color:rgba(213,213,213,0.9);
			}
		.c6-text.text-perc_80 {
			color:rgba(213,213,213,0.8);
			}
		.c6-text.text-perc_70 {
			color:rgba(213,213,213,0.7);
			}
		.c6-text.text-perc_60 {
			color:rgba(213,213,213,0.6);
			}
		.c6-text.text-perc_50 {
			color:rgba(213,213,213,0.5);
			}
		.c6-text.text-perc_40 {
			color:rgba(213,213,213,0.4);
			}
		.c6-text.text-perc_30 {
			color:rgba(213,213,213,0.3);
			}
		.c6-text.text-perc_20 {
			color:rgba(213,213,213,0.2);
			}
		.c6-text.text-perc_10 {
			color:rgba(213,213,213,0.1);
			}
	
	

/*	--------------------------------------------------
	3.0 BORDERS
	-------------------------------------------------- */
	
	.c1-borders,
	span.line {
		border-color:#c9ad7c; border-color:rgba(201,173,124,1);
		}
		.c1-borders.borders-perc_90 {
			border-color:rgba(201,173,124,0.9);
			}
		.c1-borders.borders-perc_80 {
			border-color:rgba(201,173,124,0.8);
			}
		.c1-borders.borders-perc_70 {
			border-color:rgba(201,173,124,0.7);
			}
		.c1-borders.borders-perc_60 {
			border-color:rgba(201,173,124,0.6);
			}
		.c1-borders.borders-perc_50 {
			border-color:rgba(201,173,124,0.5);
			}
		.c1-borders.borders-perc_40 {
			border-color:rgba(201,173,124,0.4);
			}
		.c1-borders.borders-perc_30 {
			border-color:rgba(201,173,124,0.3);
			}
		.c1-borders.borders-perc_20 {
			border-color:rgba(201,173,124,0.2);
			}
		.c1-borders.borders-perc_10 {
			border-color:rgba(201,173,124,0.1);
			}
			
	.c2-borders {
		border-color:#7e7e7e; border-color:rgba(126,126,126,1);
		}
		.c2-borders.borders-perc_90 {
			border-color:rgba(126,126,126,0.9);
			}
		.c2-borders.borders-perc_80 {
			border-color:rgba(126,126,126,0.8);
			}
		.c2-borders.borders-perc_70 {
			border-color:rgba(126,126,126,0.7);
			}
		.c2-borders.borders-perc_60 {
			border-color:rgba(126,126,126,0.6);
			}
		.c2-borders.borders-perc_50 {
			border-color:rgba(126,126,126,0.5);
			}
		.c2-borders.borders-perc_40 {
			border-color:rgba(126,126,126,0.4);
			}
		.c2-borders.borders-perc_30 {
			border-color:rgba(126,126,126,0.3);
			}
		.c2-borders.borders-perc_20 {
			border-color:rgba(126,126,126,0.2);
			}
		.c2-borders.borders-perc_10 {
			border-color:rgba(126,126,126,0.1);
			}
			
	.c3-borders {
		border-color:#303434; border-color:rgba(48,52,52,1);
		}
		.c3-borders.borders-perc_90 {
			border-color:rgba(48,52,52,0.9);
			}
		.c3-borders.borders-perc_80 {
			border-color:rgba(48,52,52,0.8);
			}
		.c3-borders.borders-perc_70 {
			border-color:rgba(48,52,52,0.7);
			}
		.c3-borders.borders-perc_60 {
			border-color:rgba(48,52,52,0.6);
			}
		.c3-borders.borders-perc_50 {
			border-color:rgba(48,52,52,0.5);
			}
		.c3-borders.borders-perc_40 {
			border-color:rgba(48,52,52,0.4);
			}
		.c3-borders.borders-perc_30 {
			border-color:rgba(48,52,52,0.3);
			}
		.c3-borders.borders-perc_20 {
			border-color:rgba(48,52,52,0.2);
			}
		.c3-borders.borders-perc_10 {
			border-color:rgba(48,52,52,0.1);
			}
			
	.c4-borders,
	.c1-bg span.line {
		border-color:#f2f2f2; border-color:rgba(242,242,242,1);
		}
		.c4-borders.borders-perc_90 {
			border-color:rgba(242,242,242,0.9);
			}
		.c4-borders.borders-perc_80 {
			border-color:rgba(242,242,242,0.8);
			}
		.c4-borders.borders-perc_70 {
			border-color:rgba(242,242,242,0.7);
			}
		.c4-borders.borders-perc_60 {
			border-color:rgba(242,242,242,0.6);
			}
		.c4-borders.borders-perc_50 {
			border-color:rgba(242,242,242,0.5);
			}
		.c4-borders.borders-perc_40 {
			border-color:rgba(242,242,242,0.4);
			}
		.c4-borders.borders-perc_30 {
			border-color:rgba(242,242,242,0.3);
			}
		.c4-borders.borders-perc_20 {
			border-color:rgba(242,242,242,0.2);
			}
		.c4-borders.borders-perc_10 {
			border-color:rgba(242,242,242,0.1);
			}
		
	.c5-borders {
		border-color:#ffffff; border-color:rgba(255,255,255,1);
		}
		.c5-borders.borders-perc_90 {
			border-color:rgba(255,255,255,0.9);
			}
		.c5-borders.borders-perc_80 {
			border-color:rgba(255,255,255,0.8);
			}
		.c5-borders.borders-perc_70 {
			border-color:rgba(255,255,255,0.7);
			}
		.c5-borders.borders-perc_60 {
			border-color:rgba(255,255,255,0.6);
			}
		.c5-borders.borders-perc_50 {
			border-color:rgba(255,255,255,0.5);
			}
		.c5-borders.borders-perc_40 {
			border-color:rgba(255,255,255,0.4);
			}
		.c5-borders.borders-perc_30 {
			border-color:rgba(255,255,255,0.3);
			}
		.c5-borders.borders-perc_20 {
			border-color:rgba(255,255,255,0.2);
			}
		.c5-borders.borders-perc_10 {
			border-color:rgba(255,255,255,0.1);
			}
			
	.c6-borders {
		border-color:#d5d5d5; border-color:rgba(213,213,213,1);
		}	
		.c6-borders.borders-perc_90 {
			border-color:rgba(213,213,213,0.9);
			}
		.c6-borders.borders-perc_80 {
			border-color:rgba(213,213,213,0.8);
			}
		.c6-borders.borders-perc_70 {
			border-color:rgba(213,213,213,0.7);
			}
		.c6-borders.borders-perc_60 {
			border-color:rgba(213,213,213,0.6);
			}
		.c6-borders.borders-perc_50 {
			border-color:rgba(213,213,213,0.5);
			}
		.c6-borders.borders-perc_40 {
			border-color:rgba(213,213,213,0.4);
			}
		.c6-borders.borders-perc_30 {
			border-color:rgba(213,213,213,0.3);
			}
		.c6-borders.borders-perc_20 {
			border-color:rgba(213,213,213,0.2);
			}
		.c6-borders.borders-perc_10 {
			border-color:rgba(213,213,213,0.1);
			}



/*	--------------------------------------------------
	4.0 BUTTONS
	-------------------------------------------------- */

	.btn.c1-bg:hover, .btn.c1-bg:active, .btn.c1-bg:focus {
		background-color:rgba(201,173,124,0.8);
		}
		
	.btn.c2-bg:hover, .btn.c2-bg:active, .btn.c2-bg:focus {
		background-color:rgba(126,126,126,0.8);
		}
		
	.btn.c3-bg:hover, .btn.c3-bg:active, .btn.c3-bg:focus {
		background-color:rgba(48,52,52,0.8);
		}
		
	.btn.c4-bg:hover, .btn.c4-bg:active, .btn.c4-bg:focus {
		background-color:rgba(242,242,242,0.8);
		}
		
	.btn.c5-bg:hover, .btn.c5-bg:active, .btn.c5-bg:focus {
		background-color:rgba(255,255,255,0.8);
		}
		
	.btn.c6-bg:hover, .btn.c6-bg:active, .btn.c6-bg:focus {
		background-color:rgba(213,213,213,0.8);
		}



/*	--------------------------------------------------
	5.0 LINKS
	-------------------------------------------------- */

	.link.text-uppercase .c1-borders:hover, .link.text-uppercase .btn.c1-borders:active, .link.text-uppercase .btn.c1-borders:focus,
	.link.text-uppercase .c2-borders:hover, .link.text-uppercase .btn.c2-borders:active, .link.text-uppercase .btn.c2-borders:focus,
	.link.text-uppercase .c4-borders:hover, .link.text-uppercase .btn.c4-borders:active, .link.text-uppercase .btn.c4-borders:focus,	
	.link.text-uppercase .c5-borders:hover, .link.text-uppercase .btn.c5-borders:active, .link.text-uppercase .btn.c5-borders:focus {
		border-color:#303434; border-color:rgba(48,52,52,1);
		}
	.link.text-uppercase .c3-borders:hover, .link.text-uppercase .btn.c3-borders:active, .link.text-uppercase .btn.c3-borders:focus {
		border-color:#303434; border-color:rgba(48,52,52,1);
		}



/*	--------------------------------------------------
	END
	-------------------------------------------------- */
	

