﻿* {
    box-sizing: border-box;
}

.zolumn {
    float: right;
    width: 16%;
    padding: 5px;
    filter: brightness(2);
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .zolumn {
        margin-right: 24px;
        margin-top: 40px;
        width: 25%;
        filter: brightness(3);
    }
    nav.footer {
        padding: 50px 0 0;
    }
}
